<h1><u> Order #<%= @order.id %> </u></h1>

<table>
	<tr>
		<th>Name</th>
		<th>Quantity</th>
		<th>Price</th>

	</tr>
	
	<% @unique_foods.each do |food| %>
		<tr>
			<td><%= food.name %></td>
			<td><%= @quantities[food] %></td>
			<td><%= food.price %></td>
		</tr>
	<% end %>
</table>

<p>Order total: <%= number_to_currency(@order.total, :unit => "£") %></p>

<p>Delivering to: <%= @order.delivery_address %> </p>
<p>Contact Info: <%= @order.contact_number %> </p>

<%= link_to 'Back', orders_path %>
<%= link_to 'Re-order', confirm_reorder_path %>