<h1>Chinese cuisine</h1>

<form action="/order/create" method="post">

	<input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token">
	
	<h2><u>Appetizers: -</u></h2>
	<% @food.where(course: 'appetizer').each do |food| %>
		<ul>
			<li>
				<%= food.name %> -	<%= number_to_currency(food.price, :unit => "£") %>
				<input type="checkbox" class="food_selected" id="food_<%= food.id %>">
			</li>
				 <label for="<%= food.id %>_quantity">Qty:</label>
				 <input type="text" 
				 		name="food[<%= food.id %>][quantity]" 
				 		size="2" 
				 		id="quantity_<%= food.id %>">
		</ul>
	<% end %>


	<h2><u>Main Course: -</u></h2>

	<h3><u>Chicken</u></h3>
	<% @food.where(course: 'main_chicken').each do |food| %>
		<ul>
			<li>
				<%= food.name %> -	<%= number_to_currency(food.price, :unit => "£") %>
				<input type="checkbox" class="food_selected" id="food_<%= food.id %>">
			</li>
				 <label for="<%= food.id %>_quantity">Qty:</label>
				 <input type="text" 
				 		name="food[<%= food.id %>][quantity]" 
				 		size="2" 
				 		id="quantity_<%= food.id %>">
		</ul>
	<% end %>

	<h3><u>Vegetarian</u></h3>
	<% @food.where(course: 'main_veg').each do |food| %>
		<ul>
			<li>
				<%= food.name %> -	<%= number_to_currency(food.price, :unit => "£") %>
				<input type="checkbox" class="food_selected" id="food_<%= food.id %>">
			</li>
				 <label for="<%= food.id %>_quantity">Qty:</label>
				 <input type="text" 
				 		name="food[<%= food.id %>][quantity]" 
				 		size="2" 
				 		id="quantity_<%= food.id %>">
		</ul>
	<% end %>

	<h3><u>Seafood</u></h3>
	<% @food.where(course: 'main_seafood').each do |food| %>
		<ul>
			<li>
				<%= food.name %> -	<%= number_to_currency(food.price, :unit => "£") %>
				<input type="checkbox" class="food_selected" id="food_<%= food.id %>">
			</li>
				 <label for="<%= food.id %>_quantity">Qty:</label>
				 <input type="text" 
				 		name="food[<%= food.id %>][quantity]" 
				 		size="2" 
				 		id="quantity_<%= food.id %>">
		</ul>
	<% end %>

	<h3><u>Rice</u></h3>
	<% @food.where(course: 'main_rice').each do |food| %>
		<ul>
			<li>
				<%= food.name %> -	<%= number_to_currency(food.price, :unit => "£") %>
				<input type="checkbox" class="food_selected" id="food_<%= food.id %>">
			</li>
				 <label for="<%= food.id %>_quantity">Qty:</label>
				 <input type="text" 
				 		name="food[<%= food.id %>][quantity]" 
				 		size="2" 
				 		id="quantity_<%= food.id %>">
		</ul>
	<% end %>

	<h3><u>Noodles</u></h3>
	<% @food.where(course: 'main_noodles').each do |food| %>
		<ul>
			<li>
				<%= food.name %> -	<%= number_to_currency(food.price, :unit => "£") %>
				<input type="checkbox" class="food_selected" id="food_<%= food.id %>">
			</li>
				 <label for="<%= food.id %>_quantity">Qty:</label>
				 <input type="text" 
				 		name="food[<%= food.id %>][quantity]" 
				 		size="2" 
				 		id="quantity_<%= food.id %>">
		</ul>
	<% end %>

	
	<h2><u>Desserts</u></h2>

	<% @food.where(course: 'dessert').each do |food| %>
		<ul>
			<li>
				<%= food.name %> -	<%= number_to_currency(food.price, :unit => "£") %>
				<input type="checkbox" class="food_selected" id="food_<%= food.id %>">
			</li>
				 <label for="<%= food.id %>_quantity">Qty:</label>
				 <input type="text" 
				 		name="food[<%= food.id %>][quantity]" 
				 		size="2" 
				 		id="quantity_<%= food.id %>">
		</ul>
	<% end %>


	<h2><u>Beverages</u></h2>

	<% @food.where(course: 'beverage').each do |food| %>
		<ul>
			<li>
				<%= food.name %> -	<%= number_to_currency(food.price, :unit => "£") %>
				<input type="checkbox" class="food_selected" id="food_<%= food.id %>">
			</li>
				 <label for="<%= food.id %>_quantity">Qty:</label>
				 <input type="text" 
				 		name="food[<%= food.id %>][quantity]" 
				 		size="2" 
				 		id="quantity_<%= food.id %>">
		</ul>
	<% end %>

	
	<h2><u>Delivery Details: -</u></h2>

	<label for="delivery_address">Address:</label>
	<input type="text" name="delivery[address]">

	<label for="contact_number">Contact Number:</label>
	<input type="text" name="delivery[contact_no]"> 

	<br><br>

	<input type="submit" value="Submit">
</form>
<br>

<%= link_to 'Back', menu_path %>