<div class="menu">
	<h1>Please select a cuisine:</h1>

	<div class="cuisines">
		<a href="<%= menu_cn_path %>"><%= image_tag('cn_flag') %></a>
		<a href="<%= menu_jp_path %>"><%= image_tag('jp_flag') %></a>
		<a href="<%= menu_kr_path %>"><%= image_tag('kr_flag') %></a>
	</div>   

	<br>
</div>
