<h1>Order Info:</h1>

<table>
	<tr>
		<th>Name</th>
		<th>Quantity</th>
		<th>Price</th>

	</tr>
	
	<% @unique_foods.each do |food| %>
		<tr>
			<td><%= food.name %></td>
			<td><%= @quantities[food] %></td>
			<td><%= food.price %></td>
		</tr>
	<% end %>
</table>

<p>Order total: <%= number_to_currency(@order.total, :unit => "£") %></p>

<%= link_to "Edit order", order_edit_path %>

<h2><u>Delivery Details</u></h2>

<form action="/order/confirm" method="post">

	<input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token">

	<label for="contact_number">Contact Number:</label> <br>
	<input type="text" name="delivery[contact_number]"> <br>

	<label for="delivery_address">Delivery Address:</label> <br>
	<textarea name="delivery[address]" cols="30" rows="4"></textarea> <br>

	<input type="submit" value="Confirm">
</form>





