<div class="order_info">
	<h1>Order Information</h1>

	<table id="food_ordered">
		<tr>
			<th><u>Name</u></th>
			<th><u>Quantity</u></th>
			<th><u>Price per item</u></th>
		</tr>
		
		<hr>

		<% @unique_foods.each do |food| %>
			<tr>
				<td><%= food.name %></td>
				<td><%= @quantities[food] %></td>
				<td><%= number_to_currency(food.price, :unit => "£")%></td>
			</tr>
		<% end %>
	</table>

	<p id="order_total">Order total: <%= number_to_currency(@order.total, :unit => "£") %></p>

	<%= link_to 'Edit Order', order_edit_url, :method => :get, :id => "edit_button" %> 
</div>

<div class="delivery_info">
	<h1>Delivery Details</h1>

	<hr><br>

	 <%= form_for @order, url: confirm_order_path, method: "post" do |f| %>
		
		<%= f.label :contact_number, "Contact Number:" %> <br>
		<%= f.text_field :contact_number, :id => "delivery_cn" %> <br>

		<%= f.label :delivery_address, "Delivery Address:" %> <br>
		<%= f.text_area :delivery_address, :id => "delivery_addr" %> <br>

		<%= f.submit "Confirm Order", :id => "submit_button" %>

	 <% end %>
</div>





