<h1>Order Info:</h1>

<table>
	<tr>
		<th>Name</th>
		<th>Quantity</th>
		<th>Price per item</th>

	</tr>
	
	<% @unique_foods.each do |food| %>
		<tr>
			<td><%= food.name %></td>
			<td><%= @quantities[food] %></td>
			<td><%= number_to_currency(food.price, :unit => "£")%></td>
		</tr>
	<% end %>
</table>

<p>Order total: <%= number_to_currency(@order.total, :unit => "£") %></p>

<%= link_to "Edit order", order_edit_path %>

<h2><u>Delivery Details</u></h2>

 <%= form_for @order, url: confirm_order_path, method: "post" do |f| %>
	
	<%= f.label :contact_number, "Contact Number:" %> <br>
	<%= f.text_field :contact_number %> <br>

	<%= f.label :delivery_address, "Delivery Address:" %> <br>
	<%= f.text_area :delivery_address %> <br>

	<%= f.submit "Submit" %>

 <% end %>





