<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <%= include_gon %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= render 'partials/navigation' %>
  </head>

  <body>
<!--     <div>
      <li>
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, class: "flash_message" %> 
        <% end %>
      </li>
    </div> -->
    
    <% if notice %>
      <div id="notice_wrapper">
          <p class="notice"><%= notice %></p>
      </div>
    <% elsif alert %>
        <div id="alert_wrapper">
          <p class="alert"><%= notice %></p>
      </div>
    <% end %>

    <%= yield %>

    <%= render 'partials/footer' %>
  </body>
</html>
